html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

@-webkit-keyframes pulse {
  0% {
    background-color: #e62149;
    color: #FFFFFF;
  }
  100% {
    background-color: #FFFFFF;
    color: #111111;
  }
}

@keyframes pulse {
  0% {
    background-color: #e62149;
    color: #FFFFFF;
  }
  100% {
    background-color: #FFFFFF;
    color: #111111;
  }
}

@-webkit-keyframes cool {
  50% {
    -webkit-transform: scale(1.5, 1.5);
            transform: scale(1.5, 1.5);
    opacity: 0;
  }
  99% {
    -webkit-transform: scale(0.001, 0.001);
            transform: scale(0.001, 0.001);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(0.001, 0.001);
            transform: scale(0.001, 0.001);
    opacity: 1;
  }
}

@keyframes cool {
  50% {
    -webkit-transform: scale(1.5, 1.5);
            transform: scale(1.5, 1.5);
    opacity: 0;
  }
  99% {
    -webkit-transform: scale(0.001, 0.001);
            transform: scale(0.001, 0.001);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(0.001, 0.001);
            transform: scale(0.001, 0.001);
    opacity: 1;
  }
}

@font-face {
  font-family: 'Roboto', sans-serif;
  src: url("./Typography/Roboto (1)/Roboto-Regular.ttf") format("truetype");
}

html, body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 1.25rem;
}

h2 {
  font-size: 1.125rem;
}

h3 {
  font-size: 1rem;
}

h4 {
  font-size: 1.07143rem;
}

h5 {
  font-size: 0.875rem;
  font-weight: lighter;
}

form {
  font-size: 0.75rem;
}

span {
  font-weight: bold;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  padding-top: 8em;
}

.mainbar {
  width: 100%;
  padding: 0em 1em 0em 2em;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 5rem;
  border-bottom: 2px solid #F1F1F1;
  margin-bottom: 7em;
  position: fixed;
  z-index: 3;
  width: 100%;
  overflow: hidden;
  background-color: #FFFFFF;
}

header:hover {
  background-color: rgba(0, 0, 0, 0.05);
  border: none;
}

header .header__links--right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .user {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 1em;
}

header form {
  height: 2.75rem;
}

header form .search {
  width: 24.5625rem;
  height: 2.5rem;
  background-color: #FFFFFF;
  color: #111111;
  border: 1px solid #D4D4D4;
  border-radius: 2px;
  font-size: 18px;
  letter-spacing: -0.3px;
  opacity: 1;
  line-height: 1.2;
}

header form .search:focus {
  border: 1px solid #008ABF;
  -webkit-transition: 0.35s ease;
  transition: 0.35s ease;
  color: #888888;
}

header form .search:focus::-webkit-input-placeholder {
  -webkit-transition: opacity 0.45s ease;
  transition: opacity 0.45s ease;
  opacity: 0;
}

header form .search-button {
  width: 6.8125rem;
  height: 100%;
  border: 1px solid #D4D4D4;
}

header form .search-button:hover {
  background-color: #0095FF;
  color: #FFFFFF;
  -webkit-animation: cool 3s ease;
          animation: cool 3s ease;
}

header form .uploadvideo {
  width: 36px;
  height: 33px;
}

.video__section video {
  width: 100%;
}

.video__section h1, .video__section p {
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.video__section--views {
  width: 312%;
}

.video__section--comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.video__section--comments p {
  color: #888888;
}

.video__section--icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: inherit;
      -ms-flex-pack: inherit;
          justify-content: inherit;
}

.video__section--icons h5 {
  color: #888888;
}

.video__section--icons div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.video__section--icons div img {
  margin-right: 0.5em;
}

.title__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #D4D4D4;
  border-top: 1px solid #D4D4D4;
}

.title__section .user {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 1em;
}

.title__section--description {
  padding: 1.5em 0em;
  text-align: left;
  width: 100%;
}

.title__section--description .showmore {
  padding: 0;
  color: #888888;
  font-weight: bold;
  border: none;
  background-color: white;
}

.title__section--username {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.title__section--username p, .title__section--username h5 {
  margin: 0;
}

.title__section--username h5 {
  color: #888888;
}

.title__section--username .subscribe {
  width: 10rem;
  height: 2.5rem;
  background-color: #0095FF;
  color: #FFFFFF;
  font-size: 0.875rem;
  font-weight: bold;
  line-height: 1.1;
  opacity: 1;
  border-radius: 2px;
}

.title__section--username .subscribe:hover {
  -webkit-animation: pulse 2s 1;
          animation: pulse 2s 1;
}

.title__section--username .subscribe p {
  display: -webkit-inline-box;
  margin-left: 1em;
}

.comments__section--form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.comments__section--form .user {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 1em;
}

.comments__section--form .comments__form {
  padding: 1.5em 0em;
  width: 100%;
}

.comments__section--form .comments__form input {
  width: 100%;
  height: 4em;
  border: none;
  border-bottom: 1px solid #D4D4D4;
  margin-bottom: 2em;
}

.comments__section--form .comments__form--button {
  height: 4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.comments__section--form .comments__form--button button {
  background-color: #0095FF;
  color: #FFFFFF;
  font-size: 0.875rem;
  font-weight: bold;
  line-height: 1.1;
  opacity: 1;
  border-radius: 2px;
  width: 7.5rem;
  height: 2.5rem;
}

.comments__section--form .comments__form--button button:hover {
  -webkit-animation: pulse 2s 1;
          animation: pulse 2s 1;
}

.comments__section--form .comments__form--button .cancel {
  background-color: #FFFFFF;
  border: none;
  color: #111111;
}

.comments__section--display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.comments__section--display .user {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 1em;
}

.comments__section--display .show {
  padding: 1.5em 0em;
}

.listvideo {
  overflow-y: scroll;
  max-height: 43.75rem;
  width: 60%;
}

.listvideo h5 {
  text-align: left;
  padding-left: 1em;
  margin: 0em 0em 1em 0em;
}

.listvideo .singlevideo__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 1em;
  margin-bottom: 2em;
  width: 100%;
}

.listvideo .singlevideo__section--content {
  width: 38%;
  height: 135px;
  position: relative;
}

.listvideo .singlevideo__section--content img {
  width: 100%;
  height: 100%;
}

.listvideo .singlevideo__section--content .text-block {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 10%;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  height: 13%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.listvideo .singlevideo__section--description {
  text-align: left;
  width: 55%;
  padding-left: 1em;
  padding-right: 2em;
}

.listvideo .singlevideo__section--description h4 {
  margin: 0;
}

.listvideo .singlevideo__section--description p {
  color: #888888;
}

.listvideo .singlevideo__section--description .user {
  margin-bottom: -0.6em;
}

.socialbar {
  position: fixed;
  bottom: 5%;
  width: 4em;
}

.socialbar img {
  width: 36px;
  height: 33px;
}

.socialbar ul {
  list-style-type: none;
  padding: 0;
  -webkit-transform: translatex(-270px);
          transform: translatex(-270px);
}

.socialbar ul li {
  display: block;
  margin: 5px;
  background-color: rgba(0, 0, 0, 0.2);
  width: 300px;
  text-align: right;
  padding: 10px;
  border-radius: 0 30px 30px 0;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.socialbar ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.socialbar ul li:hover {
  -webkit-transform: translatex(5.625rem);
          transform: translatex(5.625rem);
}

.socialbar ul li:hover img {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition: all 2s;
  transition: all 2s;
}

.socialbar ul li img {
  background-color: white;
  padding: 10px;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  margin-left: 0.6em;
}

.socialbar ul li .search__bar {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.socialbar ul li .search__bar--input {
  width: 24.5625rem;
  height: 2.5rem;
  background-color: #FFFFFF;
  color: #111111;
  border: 1px solid #D4D4D4;
  border-radius: 2px;
  font-size: 18px;
  letter-spacing: -0.3px;
  opacity: 1;
  line-height: 1.2;
}

.socialbar ul li .search__bar--input:focus {
  border: 1px solid #111111;
  -webkit-transition: 0.35s ease;
  transition: 0.35s ease;
  color: #888888;
}

.socialbar ul li .search__bar--input:focus::-webkit-input-placeholder {
  -webkit-transition: opacity 0.45s ease;
  transition: opacity 0.45s ease;
  opacity: 0;
}

.socialbar ul .twitter:hover {
  background-color: #55acee;
}

.socialbar ul .facebook:hover {
  background-color: #3b5999;
}

.socialbar ul .upload-video:hover {
  background-color: #14c9bd;
}

.socialbar ul .search__bar {
  width: 100%;
}

.socialbar ul .search__bar--input {
  margin-right: 1em;
}

.socialbar ul .search:hover {
  -webkit-transform: translatex(16.525rem);
          transform: translatex(16.525rem);
  background-color: #e62149;
}

@media only screen and (max-width: 973px) {
  main .mainbar {
    width: 100%;
  }
}

@media only screen and (max-width: 840px) {
  header .header__links--right {
    display: none;
  }
  header .user {
    margin-left: 4em;
  }
  main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .mainbar {
    padding: 0em 4em;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  main .listvideo {
    padding: 0em 4em;
    overflow-x: scroll;
    overflow-y: hidden;
    display: -webkit-inline-box;
  }
}

@media only screen and (max-width: 520px) {
  main .mainbar {
    padding: 0em 1em 0em 1em;
  }
  main .listvideo {
    padding: 0em 1em 0em 1em;
  }
}
/*# sourceMappingURL=App.css.map */